@import "~~/src/Common/Assets/styles/colors.scss";

* {
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#__nuxt {
    display: flex;
    flex-direction: column;
}

a {
    color: #000200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background: $c_body;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background: $c_tetris;
    box-sizing: border-box;
    padding: 10px 20px;
    padding-top: 19px;
    border-radius: 20px;

    canvas {
        background: $c_tetris_screen;
    }
}

.back {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    z-index: 1;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 30px;
    background: $c_red;
    text-align: center;
    z-index: 2;
    font-weight: bold;
}

.header {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background: $c_black;
    min-height: 300px;
    color: $c_white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.middle {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}
